@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* font and color */
  header a,
  header p {
    @apply text-fontHeader text-header;
  }

  header {
    @apply text-header;
  }

  h2,
  h2,
  h3,
  h4,
  h5,
  span,
  li,
  input,
  textarea,
  button {
    @apply text-text;
  }

  a,
  a span {
    @apply text-link;
  }

  p {
    @apply text-detail;
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    background: #0e1018;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0e1018bb;
  }

  .-animate-y-sm {
    @apply -translate-y-1/4 opacity-0 transition-all  duration-700;
  }
  .-animate-y {
    @apply -translate-y-1/2 opacity-0 transition-all  duration-700;
  }
  .-animate-y-md {
    @apply -translate-y-3/4 opacity-0 transition-all  duration-700;
  }
  .-animate-y-lg {
    @apply -translate-y-full opacity-0 transition-all  duration-700;
  }

  .animate-y-sm {
    @apply translate-y-1/4 opacity-0 transition-all  duration-700;
  }
  .animate-y {
    @apply translate-y-1/2 opacity-0 transition-all duration-700;
  }
  .animate-y-md {
    @apply translate-y-3/4 opacity-0 transition-all  duration-700;
  }
  .animate-y-lg {
    @apply translate-y-full opacity-0 transition-all  duration-700;
  }

  .-animate-x-sm {
    @apply -translate-x-1/4 opacity-0 transition-all  duration-700;
  }
  .-animate-x {
    @apply -translate-x-1/2 opacity-0 transition-all   duration-700;
  }
  .-animate-x-md {
    @apply -translate-x-3/4 opacity-0 transition-all  duration-700;
  }
  .-animate-x-lg {
    @apply -translate-x-full opacity-0 transition-all  duration-700;
  }

  .animate-x-sm {
    @apply translate-x-1/4 opacity-0 transition-all  duration-700;
  }
  .animate-x {
    @apply translate-x-1/2 opacity-0 transition-all  duration-700;
  }
  .animate-x-md {
    @apply translate-x-3/4 opacity-0 transition-all  duration-700;
  }
  .animate-x-lg {
    @apply translate-x-full opacity-0 transition-all  duration-700;
  }

  .animate-fade-in {
    @apply opacity-0 transition-all  duration-1000;
  }

  .show {
    @apply translate-x-0 translate-y-0 opacity-100 blur-0;
  }
}

@layer components {
  .button {
    @apply relative z-10 overflow-hidden rounded border border-accent bg-none px-3 py-1 text-detail duration-300 before:absolute before:left-0 before:top-0 before:-z-10 before:h-full before:w-0 before:bg-accent before:duration-300 hover:text-text before:hover:w-full;
  }
}
