@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* font and color */
  header h1 {
    @apply font-bold text-fontHeaderLogo text-header;
  }

  header a,
  header p {
    @apply text-header text-fontHeader;
  }

  body {
    @apply bg-primary;
  }

  h1 {
    @apply text-xl font-bold text-text;
  }

  h2 {
    @apply text-text text-aroundXl;
  }

  a,
  a span {
    @apply text-text text-link;
  }

  p {
    @apply text-detail;
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    background: #0e1018;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0e1018bb;
  }

  .bg-none {
    background-color: transparent;
  }
  
  .animate-on-scroll {
    @apply opacity-0 transition-all duration-1000 blur -translate-x-full
  }

  .animate {
    @apply opacity-100 translate-x-0 blur-0
  }
}

@layer components {
  @keyframes arrow-animation {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .scroll-arrow {
    animation: arrow-animation 3s infinite;
  }

  .button {
    @apply relative z-10 px-3 py-1 overflow-hidden duration-300 border rounded bg-none border-accent text-detail hover:text-text before:duration-300 before:absolute before:top-0 before:left-0 before:w-0 before:h-full before:bg-accent before:-z-10 before:hover:w-full;
  }
}