@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* font and color */
  header h1 {
    @apply font-bold text-fontHeaderLogo text-header;
  }

  header a,
  header p {
    @apply text-header text-fontHeader;
  }

  body {
    @apply bg-primary;
  }

  h1 {
    @apply text-xl font-bold text-text;
  }

  h2 {
    @apply text-text text-aroundXl;
  }

  a,
  a span {
    @apply text-text text-link;
  }

  p {
    @apply text-detail;
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    background: #0e1018;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0e1018bb;
  }
}

@layer components {
  @keyframes arrow-animation {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  #scroll-arrow {
    animation: arrow-animation 3s infinite;
  }
}